{
  "name": "dev.sulim.q",
  "description": "Q is a browser extension that allows you to process web pages with external commands.",
  "path": "${Q_HOST_PATH}",
  "type": "stdio",
  "allowed_extensions": [ "q@sulim.dev" ]
}
